body {
  font-size: 16px;
  font-family: system-ui, sans-serif;
}

header,
main {
  max-width: 640px;
  margin: auto;
  padding: 0 1rem;
}

header {
  text-align: center;
  padding: 2rem;
}

main {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

article:not(:first-child) {
  border-top: 1px solid rgb(231, 231, 231);
  padding-top: 4rem;
  margin-top: 4rem;
}

article h1,
article h2,
article h3,
article p,
article .code-block__wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article h1 {
  font-size: 20px;
  margin-bottom: 1.5rem;
}

article h2 {
  font-size: 18px;
}

footer {
  font-size: 13px;
  color: gray;
  display: flex;
  gap: 1rem;
}

/*  */
/* span.line.highlighted {
  background-color: brown;
} */
.code-block__wrapper {
  border-radius: 8px;
}

.code-block__header {
  padding: 0.5rem 1rem;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #555;
  background-color: #1e1e1e;
  color: #d4d4d4be;
  font-size: 14px;
}

.code-block__wrapper pre {
  padding: 1rem;
  border-radius: 0 0 8px 8px;
  margin-top: 0;
}

pre {
  overflow: auto;
}

code:not([class]) {
  background-color: #f6f7f8;
  border-radius: 2px;
  padding: 0 4px;
}

li:not(:first-child) {
  margin-top: 0.5rem;
}
